[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/NestJS-Microservices-curses/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/NestJS-Microservices-curses/products-ms.git
